.pagination-container {
  margin: 34px 0;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .pagination {
    display: flex;
    margin: auto;
    width: fit-content;

    .page-item {
      list-style-type: none;
      .active {
        background-color: #e13427;
        color: white;
        font-weight: bold;
      }
      span {
        background-color: #eee;
        display: block;
        height: 44px;
        width: 44px;
        line-height: 45px;
        margin-right: 3px;
        margin-bottom: 3px;

        border-radius: 4px;

        cursor: pointer;
      }
    }
  }
}
