.login-form-container {
  max-width: 600px;
  padding: 30px 30px 100px;
  margin: auto;
  .section-header {
    margin: 15px 0;
    .title {
      font-size: 1.7rem;
      font-weight: bold;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  .content-section {
    .login-form {
      .space-between {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
