.div__manager__container {
	margin-top: 20px;

	margin-bottom: 40px;
}

.table__manager {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;

	font-size: 0.9rem;
	border: 0;

	padding: 0;

	//display: flex;
}

.table__manager thead {
	//background-color: white;
}

.table__manager th {
	border-bottom-width: 2px;
	//vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	//text-align: inherit;
	text-align: left;
	border: 1px solid #dee2e6;

	background-color: white;
	padding: 10px;
}

.table__manager td {
	border: 1px solid #dee2e6;
	padding: 0.75rem;
	background-color: white;
}

.th__image {
	text-align: center !important;
}

.div__support__container {
	border: 7px dashed #e8eefc;
	padding: 30px;
	margin-top: 80px;
	border-radius: 50px;
	height: 500px;
}

.div__support__bg {
	height: 150px;
	background: url('https://phongtro123.com/dashboard_resource/images/support-bg.jpg')
		center no-repeat;
	background-size: contain;
}

.div__support__list {
	text-align: center;
	padding: 0px 10px;
	margin-top: 30px;
}

.div__support__title {
	font-size: 20px;
	margin-bottom: 55px;
	color: #233762;
}

.div__support__item {
	margin-bottom: 25px;
	width: 33%;
	float: left;
}

.span__title__item {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	color: #f80;
	text-transform: uppercase;
}

.span__title__phone {
	display: block;
	color: #233762;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 5px 0;
}

.td__info__phone {
	width: 80px;
}

.span__info__phone {
	display: block;
	width: 80px;
	word-wrap: break-word;
	padding-right: 10px;
}

.td__info__image {
	width: 170px;
}

.div__image__container {
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}

.div__image__container img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.td__info__title {
	width: 600px;
}

.badge__warning {
	color: #212529;
	background-color: #ffc107;
}

.badge__pill {
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
}

.span__badge {
	display: inline-block;
	margin-right: 5px;
	padding: 5px 7px;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 90px;
}

.span__title__post {
	text-overflow: ellipsis;
	font-weight: bold;
	font-size: 1rem;
	color: #055699;
	line-height: 25px;
}

.div__container__btn__edit {
	margin-top: 15px;
	margin-right: 15px;
}

.div__container__info__typePost {
	margin-top: 10px;
	display: flex;
}

.link__btn__edit {
	margin-right: 5px;
	display: inline-block;
	align-items: center;
	padding: 2px 5px;
	border: 3px;
	border-radius: 3px;
	background: #eee;
	color: #000;
}

.link__btn__edit svg {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: -1px;
}

.div__container__info__typePost span {
	margin-right: 22px;
	display: block;
	color: #999;
}

.span__info__price {
	color: #37a344;
}

.span__info__active {
	color: #37a344;
}

.div__header__manager__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.h1__header__manager {
	font-weight: 400;
	font-size: 1.8rem;

	padding: 25px 0;
}

.div__line__header {
	border-bottom: 1px solid #dee2e6;
}

.select__manager {
	margin-left: 10px;
	margin-top: 35px;
	display: block;
	width: 130px;
	height: 27px;
	font-size: 12px;
}

.do__not__active {
	color: #e13326;
}

.hide__post__status__color {
	color: #f80;
}

.div__container__hide__edit__btn {
	display: flex;
}

.svg__hide__icon {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: -1px;
}

.pagination {
	display: flex;
	list-style: none;
	justify-content: center;

	.paginated-btn,
	.prev-btn,
	.next-btn {
		a {
			cursor: pointer;
			border: 1px solid #ccc;
			font-size: 16px;
			min-width: 36px;
			text-align: center;
			display: block;

			color: black;
		}

		&:not(.disabled-btn) {
			a:hover {
				background: #e13427;
				color: white;
			}
		}
	}

	.paginated-btn a {
		padding: 5px 9px;
		border-left: none;
	}

	.prev-btn,
	.next-btn {
		a {
			color: black;
			padding: 5px 10px;
		}
	}

	.prev-btn a {
		min-width: 56px;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

	.next-btn a {
		border-left: none;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	.disabled-btn a {
		cursor: default;
		opacity: 1;
		color: #ccc; //rgba($color: $silver, $alpha: 1);
	}

	.active-btn a {
		background: #e13427; //$lightpink;
		color: white; //$white;
	}
}
