.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
  background-color: #ffdc9a;
  border-radius: 6px;
  .col1 {
    display: flex;
    width: 9%;
    flex-direction: column;
    label {
      font-weight: bold;
      font-size: 0.8rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn-submit {
      padding: 10px 20px;
      margin-top: 5px;

      border-radius: 4px;
      outline: none;

      border: 1px solid #ffa80f;
      color: white;

      background-color: #ffa80f;
      font-size: 0.8rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
  .col {
    display: flex;
    width: 14.6%;
    flex-direction: column;
    label {
      font-weight: bold;
      font-size: 0.8rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    select {
      display: block;
      outline: none;
      border: none;
      border-radius: 4px;

      padding: 10px 4px;
      margin-top: 5px;

      background-color: white;

      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.8em;

      cursor: pointer;

      option {
        display: block;
        padding: 20px 0;
      }
    }
  }
}
