.fee-h1 {
	padding: 15px;
	text-align: center;
}
.tb {
	font-size: 1.2rem;

	width: 1000px;
	margin: auto;
	margin-top: 60px;
	td {
		text-align: center;
		padding: 12px;
	}
	th {
		padding: 16px 0;
	}
}
