.header-page {
  font-weight: 400;
  font-size: 1.8rem;

  padding: 25px 0;

  border-bottom: 1px solid #dee2e6;
}

.form-container {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  margin: 32px 0;
  .user-information {
    width: 950px;
    display: flex;
    flex-direction: column;
    .form-group {
      position: relative;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.5rem;
      input {
        height: 40px;
        display: block;
        width: 720px;
        padding: 0.375rem 0.75rem;
        font-size: 0.95rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
      label {
        font-size: 0.95rem;
      }

      input[readonly] {
        background-color: #e9ecef;
        opacity: 1;
      }

      button {
        width: 100%;
        font-size: 0.95rem;
        padding: 0.375rem 0.75rem;
        &:hover {
          font-weight: 700;
        }
      }

      .error-message {
        position: absolute;
        right: 0;
        bottom: 4px;
      }
    }
  }
}
